name: Check Tools

on:
  push:
    branches-ignore:
      - master
      - develop
  pull_request:
    branches-ignore:
      - master
      - develop

jobs:
  check-tools:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install requests
        run: pip install requests

      - name: Run check-tools.py
        run: python check-tools.py